
body {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #007bff;
    padding: 15px;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

h1, h2 {
    color: #333;
    margin-top: 30px;
}

a {
    color: #c52c2c;
    margin: 30px;
}

form, table {
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form p {
    margin: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"] {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#table-container {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}


button, input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px; 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}


button:hover, input[type="submit"]:hover {
    background-color: #094cc0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


button:active, input[type="submit"]:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

nav {
    background-color: #ec6b6b;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #d37028;
    font-size: 25px;
    transition: color 0.3s ease, transform 0.3s ease; 
}


nav a:hover {
    color: #4b9ce8; 
    transform: scale(1.1); 
    
}